﻿<!DOCTYPE html>
<!-- Basic template sketch for kulavi pages -->
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>OnGISline | {% block title %}base{% endblock %}</title>
    <meta name="description" content="OnGISline">

    <!-- Bootstrap css stylesheet -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

    <!-- Custom css stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base_css.css" %}"/>
    <!-- Other page specifig stylesheets -->
    {% block css%}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static "img/icon.png" %}">
    
    {% block header %}
    {% endblock %}

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Other page specifig scripts -->
    {% block scripts %}
    {% endblock %}
  </head>

  <body>
    <div id="wrapper">
        
        <!-- Navigation bar as header -->
        <nav id="header" class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">

            <!-- Navbar background: logo and optional collapsing button -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/"><img class ="navbar-left" src="{% static "img/logo.png" %}"  alt="OnGISline"></a>
            </div>

            <!-- Navbar choices -->
            <div id="navbar" class="navbar-collapse collapse">
              <!-- Left side -->
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Something</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Manager</a></li>
              </ul>
              <!-- Right side -->
              <ul class="nav navbar-nav navbar-right">

                <!--Login button or profile dropdown-->
                <li><a href="#"><span id="cart-counter" class="badge">0</span> Shopping Cart</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> User<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Placeholder</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Placeholder</a></li>
                    </ul>
                </li>

              </ul>
            </div>

          </div>
        </nav>
        <!-- Main content -->
        <div id="content" class="basecontent">
          {% block content %}
          {% endblock %}
        </div>

        <!-- Footer -->
        <div id="footer">
          <p>OnGISline 2017</p>
        </div>
    </div>

    
  </body>

  
</html>
