﻿{% extends "base.html" %}
{% block title %}ShapeEditor{% endblock %}

{% block content %}
<h1>ShapeEditor</h1>

{% if shapefiles %}
  <b>Available Shapefiles:</b>
  <table border="0" cellspacing="0" cellpadding="5" style="padding-left:20px">
    {% for shapefile in shapefiles %}
      <tr>
        <td>
          <span style="font-family:monospace">{{ shapefile.name }}</span>
        </td>
        <td>&emsp;</td>
        <td>
          <a href="{% url "book_example_editor_edit" shapefile.pk %}">Edit</a>
        </td>
        <td>&emsp;</td>
        <td>
          <a href="{% url "book_example_editor_export" shapefile.pk %}">Export</a>
        </td>
          <td>&emsp;</td>
        <td>
          <a href="{% url "book_example_editor_delete" shapefile.pk %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

<button name="import-button" id="import-button" class="btn btn-primary" onClick="loadForm()">Import New Shapefile</button>
{#<a class="btn btn-primary" href="{% url "book_example_editor_import" %}">Import New Shapefile</a>#}


<div class="import_form"></div>

<script>
  loadForm = function () {
    if (!$(".form_loaded").length) {
      $(".import_form").load("import");
    }
  }
</script>

{%endblock%}