/* This file contains css styling for content and Bootstrap overriding */

body {
  background-color: #eaeaed;
}

.navbar-default {
  background-color: #28304f;
}

.panel-default > .panel-heading {
  background-color: #5a6aad;
}

.panel-title {
  color: white;
}

.btn-default, .btn-primary{
  background-color: #5a6aad;
  color: white;
  border-color: #5a6aad;
}

.btn-default:hover, .btn-primary:hover{
  background-color: #7d95f2;
  border-color: #7d95f2;
}

a,
.sortable-table th {
  color: #5a6aad;
}

a:hover,
a:focus,
.sortable-table th,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8aa1db;
}

.pagination > li > a {
  background-color: #5a6aad;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  background-color: #8aa1db;
}

.pagination > li.active > span,
.pagination > li.disabled > span,
.pagination > li.active > span:hover,
.pagination > li.disabled > span:hover {
  background-color: #28304f;
}

.navbar-header {
  padding-top: 10px;
  text-align:center;
}

.basecontent {
  max-width: 1000px;
  margin: auto;
}

#footer {
    clear:both;
    text-align:center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}


/* Home page features */
.home-tags {
  line-height: 200%;
}

.home-showcase {
  padding: 0px;
  position: relative;
  list-style: none;
}

.home-showcase img {
  width: 100%;
}

.home-showcase-label {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0,0,75,0.5);
  color: white;
  font-size: 150%;
}

@media(max-width:767px) {
  .hide-desktop {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

@media(min-width:768px) {
  .hide-desktop {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}


