/*Applied from https://css-tricks.com/drag-and-drop-file-uploading/ */

.box {
  width: 250px;
  height: 175px;
  position: relative;
  padding-top: 20px;
}

.box__button {
  display: block;
  margin: 40px auto 25px;
}

	.box__button:hover,
	.box__button:focus
	{
		background-color: #0f3c4b;
	}

.box label, .box__error, .box__uploading, .box__success {
  padding-top: 10px;
  padding-left: 20px;
}

.box label strong {
  font-size: 120%;
  color: #5a6aad;
  cursor: pointer;
}

.box label strong:hover {
  color: #39bfd3;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: yellow;
  outline-offset: -15px;
  outline-color: #c8dadf;
}

.box.is-uploading .box__input {
  visibility: hidden;
}
.box.is-uploading .box__uploading {
  display: block;
}

.box input[type=file] {
    display: none;
}


.box.has-advanced-upload .box__icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 10px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
	visibility: hidden;
}

.box__uploading,
.box__success,
.box__error
{
	display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}

.box__uploading
{
	font-style: italic;
}
.box__success
{
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
	@-webkit-keyframes appear-from-inside
	{
		from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
		75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
		to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
	}
	@keyframes appear-from-inside
	{
		from	{ transform: translateY( -50% ) scale( 0 ); }
		75%		{ transform: translateY( -50% ) scale( 1.1 ); }
		to		{ transform: translateY( -50% ) scale( 1 ); }
	}

.box__restart
{
	font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
	color: #39bfd3;
}

.box__file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

