﻿{% extends "base.html" %}

{% load leaflet_tags %}
{% block css%}
  {% leaflet_css %}
{% endblock %}

{% block scripts %}
  {% leaflet_js %}
{% endblock %}


{% block content %}
<h1>Weather Stations</h1>
{% leaflet_map "main" callback="main_map_init" %}

<script type="text/javascript">
    function main_map_init (map, options) {
      {%if data%}
      L.geoJson({{data}}).addTo(map);
      {%elif rest_url%}
      var dataurl = '{% url "examples_weather_rest" %}';
      // Download GeoJSON via Ajax
      $.getJSON(dataurl, function (data) {
          // Add GeoJSON layer
          L.geoJson(data).addTo(map);
      });
      {%elif data_url%}
      var dataurl = '{% url "examples_weather_data" %}';
      // Download GeoJSON via Ajax
      $.getJSON(dataurl, function (data) {
          // Add GeoJSON layer
          L.geoJson(data).addTo(map);
      });
      {%endif%}

}
</script>
{% endblock %}